.container {
  margin: auto;
  padding: 25px;
  border-radius: 5px;
}

input {
  margin: 10px;
}

.ui-select-control {
  width: 250px;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: rgba(0,0,0,0);
  opacity: 1;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded .preloader {
  display: none;
}

#error_text {
  display: none;
}